.ui-resizable-e { width: 5px; right: 0px; }
.ui-resizable-w { width: 5px; left: 0px; }
.ui-resizable-s { height: 5px; bottom: 0px; }
.ui-resizable-nw { left: 0px; top: 0px; width: 13px; height: 13px; }
.ui-resizable-sw { left: 0px; bottom: 0px; width: 13px; height: 13px; }
.ui-resizable-ne { width: 13px; height: 13px; }
.ui-resizable-se { right: 0px; bottom: 0px; }
.ui-icon-gripsmall-diagonal-se { background-position: -80px -224px; opacity: 0.4; }
.window.topmost .ui-icon-gripsmall-diagonal-se { opacity: 0.8; }

.window .content::-webkit-scrollbar { width: 6px; height: 6px; }
.window .content::-webkit-scrollbar-track { background: #eeeeee; }
.window .content::-webkit-scrollbar-thumb { background: #aaaaaa; }
.window.topmost .content::-webkit-scrollbar-thumb { background: rgba(0,134,229,0.7); }
.window.topmost .content::-webkit-scrollbar-thumb:window-inactive { background: #aaaaaa; }

#optionsinside::-webkit-scrollbar { width: 6px; height: 6px; border-left: 2px solid #ffffff; }
#optionsinside::-webkit-scrollbar-track { background: repeating-linear-gradient(90deg,white,white 2px,#eeeeee 1px,#eeeeee);  }
#optionsinside::-webkit-scrollbar-thumb { background: repeating-linear-gradient(90deg,white,white 2px,rgba(0,134,229,0.7) 1px,rgba(0,134,229,0.7)); }

#leftmenu::-webkit-scrollbar-thumb { background: rgba(0,134,229,1); }

.menu::-webkit-scrollbar { width: 11px; height: 6px; }
.menu::-webkit-scrollbar-track { background: #eeeeee; }
.menu::-webkit-scrollbar-thumb { background: repeating-linear-gradient(90deg,#eeeeee,#eeeeee 5px,rgba(0,134,229,0.7) 1px,rgba(0,134,229,0.7)); }
.menu::-webkit-scrollbar-thumb:window-inactive { background: #eeeeee; }

html,body
{
  margin: 0;
  height: 100%;
}

body
{
  background-image: url('bg.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  background-size: cover;
}

body, td
{
  font-size: 12px;
  font-family: verdana,tahoma,arial,helvetica,sans-serif;
}

#menuclose
{
   cursor: pointer;
   font-size: 28px;
   padding: 12px 22px 10px 22px;
   position: absolute;
   top: 0px;
   left: 0px;
}


#leftmenu
{
   position: absolute;
   width: 300px;
   height: 100%;
   left:-350px;
   top:0;
   background-color: #EFEFEF;
   box-shadow: 3px 0px 3px rgba(0,0,0,0.3);
   transition: all 400ms;
   z-index: 999999999;

}

#leftmenu.open
{
   left: 0;
}

.menu
{
   margin: 0px 4px 0px 20px;
   height: calc(100% - 65px);
   overflow-x: hidden;
   overflow-y: auto;
   overflow-y: overlay;
}

.window
{
   box-sizing: border-box;
   box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
   position: absolute;
   background-color: #fff;
   border-top: 6px solid #aaa;
   overflow: hidden;
   opacity: 1;
   transition: opacity 400ms;
}


.window.topmost
{
   border-top: 6px solid #0086E5;
}


.autoanimated
{
   transition: all 400ms;
}

.header
{
   background-image: linear-gradient(#d8ecfb,#ffffff);
   height: 33px;
   text-align: center;
   color: #aaa;
   line-height: 34px;
   font-size: 13px;
   font-weight: bold;
   cursor: move;
   border-bottom: 1px solid #fff;
   margin-top: -3px;
}

.header .subtitle
{
   color: #ff0000;
   position: absolute;
   right: 70px;
   white-space: nowrap;
   font-weight: normal;
}

.window.topmost .header
{
   color: #0086E5;
}


body, div, span, li
{
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.content
{
   padding: 5px 14px 10px 14px;
   height: calc(100% - 60px);
   overflow-y: auto;
   overflow-y: overlay;
   clear: both;
   margin-left: 6px;
   margin-right: 6px;
}

.grid { width: 100%; border-collapse: collapse; }
.grid td { border: 1px solid #ddd; line-height: 30px; height: 30px; padding: 0px 0px 0px 0px; }
.grid tr:first-child td { padding: 0px 12px 0px 12px; font-weight: bold; cursor: default; }
.grid tr td:first-child { border-left: 1px solid transparent; }
.grid tr td:last-child { border-right: 1px solid transparent; }
.grid tr:first-child td { border-top: 1px solid transparent; border-bottom: 1px solid #aaa; white-space: nowrap; overflow: hidden; }
.grid tr:last-child td { border-bottom: 1px solid transparent; }

.controls
{
   line-height: 50px;
   background-color: rgba(255,255,255,0.3);
   box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
   border: 1px solid #333;
   border-bottom: 0;
   cursor: pointer;
}

#desktop
{
   border: 1px solid transparent;
   width: calc(100% - 2px);
   height: calc(100% - 53px);
   position: relative;
}


.controls li
{
   padding: 0px 20px 0 20px;
   display: inline-block;
   border-right: 1px solid rgba(200,200,200,0.3);
   color: #222;
   font-weight: bold;
   line-height: 50px;
   transition: background-color 400ms;
}

.controls .right
{
   float: right;
   border-left: 1px solid rgba(200,200,200,0.3);
   border-right: 0;
}

.controls li:hover
{
   background-color: rgba(255,255,255,0.5);
   color: #000 !important;
}

.controls li i.fa {
   font-size: 28px;
   position: relative;
   top: 6px;
}

.controls li.active
{
   background-color: rgba(255,255,255,0.7);
   color: #000;
}

.controls li.closed
{
   color: rgba(34,34,34,0.3);
}

.window-close { padding: 6px 13px 12px 6px; font-size: 14px; }
.window-maximize { padding: 9px 6px 12px 10px; font-size: 10px; }
.window-title-button { float: right; cursor: pointer; color: #aaa; }
.window-title-button:hover { color: #0086E5; }
.window-title-button:active { color: #000000; }

.aroundcell
{
   position: relative;
   top:-15px;
}

.cell
{
   position: absolute; top: -1px; left: -1px;
   margin:0;
   background-color: transparent;
   height: 26px;
   border: 2px solid transparent;
   padding-left: 10px;
   padding-right: 10px;
   outline: none;
   width: calc(100% - 22px);
   cursor: cell;
}

.cell:focus, .cell:active
{
   border: 2px solid #0086E5;
   cursor: auto;
}

.aftercell
{
   display:none;
}

.cell:focus + .aftercell, .cell:active + .aftercell
{
   display: block;
   width:6px; height: 6px; background-color: #0086E5;
   position: absolute; top: 27px; right: -3px;
}

#options
{
   position: absolute;
   border: 1px solid #0086E5;
   background-color: #ffffff;
   padding: 5px 0px 5px 0px;
   box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
   display: none;
}

#optionsinside
{
   max-height: 215px;
   overflow-y: auto;
   overflow-y: overlay;
   overflow-x: hidden;
   margin-right: 2px;
   margin-left: 2px;
}

#options:after
{
   content: "";
   position: absolute;
   right: 0px; top: 0px;
   width: 3px; height: 2px;
   background-color: #0086E5;
}

.option
{
   display: block;
   padding: 5px 11px 5px 11px;
   text-decoration: none;
   cursor: pointer;
   color: #333;
   white-space:nowrap;
}

.option:hover
{
   background-color: #0086E5;
   color: #ffffff;
}

.option.selected
{
   background-color: #0086E5;
   color: #ffffff;
}

.linkbutton
{
   width: calc(100% - 4px);
   height: 26px;
   margin-left: 2px;
   opacity: 0.6;
   cursor: pointer;
   border: 1px solid #aaa;
   background: linear-gradient(to bottom, rgba(246,246,246,1) 0%, rgba(223,223,223,1) 100%);
   border-radius: 3px;
   outline: none;
}

tr:hover .linkbutton
{
   opacity:1;
}

.emptyrow .linkbutton
{
   visibility: hidden;
}

.menu
{
   cursor: default;
}

.menu > ul
{
   margin:0; padding:0;
}

.menu > ul > li
{
   font-size: 20px;
   list-style: none;
}

#tablelist {margin: 10px 0 0 10px; padding:0;}

#tablelist li .fa
{
   font-size: 14px;
   position: relative; top:1px;
}

#tablelist li
{
   margin: -4px 10px -4px 0px;
   padding: 7px 0px 7px 10px;
   list-style: none;
   font-family: Verdana;
}

#tablelist li:hover
{
   cursor: pointer;
   background-color: #0086E5;
   color: #fff;
}

#tablelist li.active
{
   font-weight: bold;
}
